#banner-bg{

    background-image: url("../../assets/background/bg-1.png");
    @apply bg-cover md:bg-center bg-no-repeat
}
#bg-bottom{
    background-image: url("../../assets/background/bgb-1.png");
    background-position-y: 290px;
    @apply  bg-bottom bg-no-repeat h-screen 
}